@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Mono:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #f1f3f6;
}
header,nav{
    z-index: 4;
    height: 56px;
    background-color: #2874f0;
}
header{
    position: fixed;
    width: 100%;
    
}
nav{
    /* border: 1px solid black; */
    width: auto;
    margin: auto;
    display: flex;
    /* align-items: center; */
    /* gap: 30px; */
    justify-content: center;
}
nav>div:first-child,nav>div:nth-child(2){
    margin: auto 0;
}
nav>a,nav>div:nth-child(n+3),.logincontent>a:nth-child(n+1),.morecontent>a{
    display: flex; 
    align-items: center;
}
.logo{
    padding-left: 30px;
}
.logo a{
    display: inherit;
    color: white;
    font-size: 10.5px;
    text-decoration: none;
    font-style: italic;
}
.logo a:hover{
    text-decoration: underline;
}
nav div.search{
    margin-left: 12px;
    height: 65%;
    background-color: white;
    padding: 5px 15px;
    width: 360px;
    display: grid;
    grid-template-columns: 9fr 1fr;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23);
}
.search input[type="text"]{
    font-size: 14px;
    border: none;
    outline: none;
}
.search .searchicon{
    height: 100%;
    text-align: right;
    background-color: transparent;
    border: none;
  color: #2874f0;
  font-size: 18px;
  cursor: pointer;
}
header nav div.phnsearch{
    display: none;
}
nav >a, .more>a,#login{
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 16px;
}
.hider{
    padding-top: 56px;
}
#login{
    color: #2874f0;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
}
.login,.more{
    position: relative;
    cursor: pointer;
}
.login>a,.more>a{
    padding: 10px 0;
}
.login .logincontent,.more .morecontent{
    position: absolute;
    z-index: 2;
    display: none;
    top: 100%;
    left: -50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23);
}
.login:hover .logincontent,.more:hover .morecontent{
    display: flex;
    flex-direction: column;
}
.more  .rot{
    transition: transform .2s;
}
.more:hover .rot{
    transform: rotate(180deg);
}
.logincontent a:hover,.morecontent a:hover{
    background-color: #f1f3f6;
}
.logincontent>a,.morecontent a{
    background-color: white;
    padding: 12px 15px;
    border-bottom: 1px solid rgb(226, 221, 221);
    text-decoration: none;
    color: rgb(80, 79, 79);
}
.logincontent>a:last-child,.morecontent a:last-child{
    border: none;
}

.login .logincontent{
    left: 0%;
}
.logincontent a:first-child span:hover{
    text-decoration: underline;
}
.morecontent a span{
    color: #2874f0;
    font-size:18px;
}


/* ItemsBar */
.itemsbar{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23);
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    background-color: #fff;
    width: 100%;
    padding: 0 22px;
}
.item{
    position: relative;
    text-decoration: none;
    padding-top: 12px;
}
.item:hover .itemtext{
    color: #2874f0;
}
/* .item:first-child{
    padding-left: 22px;
}
.item:last-child{
    padding-right: 22px;
} */
.itemimgcontainer{
    height: 64px;
    width: 64px;
    margin: auto;
}
.itemimgcontainer img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: auto;
}
.itemtext{
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 5px 5px;
    padding-bottom: 12px;
}


/* MainContent */
main{
    padding: 8px;
}


/* Section-1 */
.sec1{
    height: 280px;
    padding-bottom: 10px ;
    width: 100%;
}
.sec1 a,.sec1 img{
    height: 100%;
    width: 100%;
}

/* Section-2 */
.sec{
    /* height: 350px; */
    margin-bottom: 20px ;
    /* background-color: #fff; */
    display: flex;
    flex-grow: 1;

}
section:nth-child(n+3){
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23);
    background-color: #fff;
}
.sec .left{
    padding: 0 10px;
    width: 230px;
    /* height: 100%; */
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background: url('./Images/leftbackground2.png');
    background-repeat: no-repeat;
    background-position: 0px bottom;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    overflow: auto;
}
.sec .left a{
    text-decoration: none;
    margin-bottom: 50px;
    background: #2874f0;
    color: #fff;
    border: none;
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    vertical-align: super;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
}
.sec .left h2{
    text-wrap: wrap;
    font-size: 30px;
    text-align: center;
    letter-spacing: .4px;
    font-weight: 400;
}
.sec2 .mid,main .sec:nth-child(n+3) .right{
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    flex-grow: 1;

    flex-wrap: wrap;
}
.sec2 .mid{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}
.sec2 .mid a,main .sec:nth-child(n+3) .right a{
    width: 250px;
    /* height: 100%; */
    padding: 25px 15px;
    text-align: center;
    display: inline-block;
    /* border: 1px solid blueviolet; */
    text-decoration: none;
    color: black;
    
}
.sec2 .mid a .itemimage,main .sec:nth-child(n+3) .right a .itemimage{
    height: 200px;
    width: 200px;
}
.sec2 .mid a .itemimage img,main .sec:nth-child(n+3) .right a .itemimage img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    scale: 1;
}
.sec2 .mid a:hover .itemimage img,main .sec:nth-child(n+3) .right a:hover .itemimage img{
    scale: 1.05;
}
.sec2 .mid a .itemcontent,.sec:nth-child(n+3) .right a .itemcontent {
   padding-top: 5px;
}
.sec2 .mid a .itemcontent p,.sec:nth-child(n+3) .right a .itemcontent p{
   padding: 5px 0;
}
.sec2 .mid a .itemcontent p:nth-child(2),.sec:nth-child(n+3) .right a .itemcontent p:nth-child(2){
    color: #388e3c;
    font-size: 16px;
}
.sec2 .mid a .itemcontent p:last-child,.sec:nth-child(n+3) .right a .itemcontent p:last-child{
    opacity: .6;
}
.sec2 .right{
    margin-left: 10px;
    /* height: 100%; */
    width: 257px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.sec2 .right img{
    height: 100%;
    width: 100%;
}
.sec3 .left,.sec7 .left{
    background: url("./Images/leftbackground3.png");
    background-repeat: no-repeat;
    background-position: 0px bottom;
}
.sec8 .left,.sec6 .left{
    background: url("./Images/leftbackground5.png");
    background-repeat: no-repeat;
    background-position: 0px bottom;
}
.sec10 .left,.sec4 .left{
    background: url("./Images/leftbackground7.png");
    background-repeat: no-repeat;
    background-position: 0px bottom;
}


/* Info section */
.infosection{
    padding: 25px;
    background-color: #fff;
    opacity: .6;
}
.infosection p{
    font-size: 12px;
}

/* Footer section */
footer{
    background-color: #172337;
}
.footer{
    margin:0 auto;
    padding-top: 40px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.footer {
    display: flex;
}
.footer div{
    flex-grow: 1;
}
.footer .mailus{
    margin-left: 20px;
}
.footer .mailus div,.rga div{
    padding: 0 30px;
    border-left: 1px solid #878787;
    color: white;
    font-size: 12px;
}
.rga div{
    border: none;
    padding: 0;
}
footer h5{
    text-transform: uppercase;
    color: #878787;
    margin-bottom: 10px;
}
footer h4{
    color: #878787;
    margin-bottom: 10px;
}
footer div>a{
   text-decoration: none;
   display: block;
   padding-top: 10px;
   color: white;
   font-size: 12px;
}
footer a:hover{
   text-decoration: underline;
}
.footer p{
    line-height: 1.5;
}
footer .footerbottom{
    margin-top: 40px;
    border-top: 1px solid #878787;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
footer .footerbottom a{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}
footer .footerbottom p{
    font-size: 16px;
    color: white;
    padding-top: 11px;
}
footer .footerbottom>img{
    padding-top: 11px;
}







@media screen and (max-width:865px) {
   
    body .sec{
        flex-direction: column;
        margin: auto;
        margin-top: 20px;
    }
    body .sec .left{
        width: 100%;
        background-position: center;
        background-size: 100% 100%;
        height: 280px;
    }
    body .sec2 .right{
        width: 300px;
        height: 300px;
        margin: auto;
        margin-top: 20px;
    }
}
@media screen and (max-width:785px){
    body header{
        height: 100px;
    }
    body .hider{
        height: 100px;
    }
    header nav div.search{
      display: none;
    }
    body header nav div.phnsearch{
        display: block;
        position: absolute;
        bottom: 10px;
        height: 35%;
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
    }
    body header nav div.phnsearch input[type="text"]{
        height: 100%;
       
    }
    header .search .searchicon{
        position: absolute;
        right: 10px;
        top: 0;
    }
}
@media screen and (max-width:565px){
    header nav div.search{
      display: none;
    }
    header a .textcart{
        display: none;
    }
}
@media screen and (max-width:500px) {
    header .becomeseller{
        display: none;
    }
    body header nav div.phnsearch{
        height: 30%;   
    }
}
@media screen and (max-width:410px) {
    body header{
        height: 150px;
    }
    body .hider{
        height: 150px;
    }
    body header nav div.phnsearch{
        height: 25%;
       
    }
    header nav {
        padding-top: 20px;
        flex-wrap: wrap;
        row-gap: 10px;
    }
}
@media screen and (max-width:300px) {
    body .sec2 .right{
        width: 200px;
        height: 200px;
    }
}